* {
  color: #fff;
  font-family: sans-serif;
  style: none;
}

header {
  margin-right: 40%;
  padding: 20px;
  background: linear-gradient(to bottom left, #fff, #26FFFA);
  border: 10px, #7F001D;
  border-radius: 15px;
  border-style: double;
  margin-top: 5px;
  font-family: helvetica;
  text-align: center;
}

header p {
  color: #297F13;
  font-style: normal;
  text-align: center;
}

body {
  background-image: url("https://c1.staticflickr.com/5/4087/4831156195_a338bd1785_b.jpg");
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #297F13;
  font-weight: bold;
}

li {
  margin-bottom: 20px;
  font-size: 18px;
}

img {
  margin-top: 15px;
  border: 10px;
  border-style: double;
  border-radius: 20px;
  text-align: center;
}
